@page "/recipes/{Id:int}/edit"
@using FrontEnd.Web.Services
@inject IRecipeService RecipeService
@rendermode InteractiveServer

<PageTitle>Edit a recipe</PageTitle>

@if (_recipeTask is not { IsCompleted: true })
{
    return;
}

@if (_recipeTask.Result != null)
{
    <FluentLabel Typo="Typography.H1" MarginBlock="10px">Edit a recipe</FluentLabel>
    <Form InitialData="_recipeTask.Result"></Form>
}
else
{
    <FluentLabel Typo="Typography.H1" MarginBlock="10px">Recipe not found.</FluentLabel>
    <FluentLabel Typo="Typography.Body" MarginBlock="10px">The requested recipe doesn't exist.</FluentLabel>
}

@code
{
    [Parameter]
    public int Id { get; init; }

    private Task<global::Recipes.Public.Recipe?>? _recipeTask;
    
    protected override async Task OnInitializedAsync()
    {
        _recipeTask = RecipeService.GetByIdAsync(Id);
        await _recipeTask;
    }
}
