@page "/recipes/{Id:int}/edit"
@using FrontEnd.Web.Services
@inject IRecipeService RecipeService

<PageTitle>Edit a recipe</PageTitle>

@if (_recipe != null)
{
    <FluentLabel Typo="Typography.H1" MarginBlock="10px">Edit a recipe</FluentLabel>
    <Form InitialData="_recipe"></Form>
}
else
{
    <FluentLabel Typo="Typography.H1" MarginBlock="10px">Recipe not found.</FluentLabel>
    <FluentLabel Typo="Typography.Body" MarginBlock="10px">The requested recipe doesn't exist.</FluentLabel>
}

@code
{
    [Parameter]
    public int Id { get; init; }

    private global::Recipes.Public.Recipe? _recipe;
    
    protected override async Task OnInitializedAsync()
    {
        _recipe = await RecipeService.GetByIdAsync(Id);
    }
}
