@page "/recipes"
@using global::Recipes.Public
@attribute [StreamRendering]
@inject HttpClient HttpClient

<PageTitle>Recipes</PageTitle>

<h1>Recipes</h1>

<p>This component demonstrates showing data from Recipes API.</p>

@if (_recipes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var recipe in _recipes)
        {
            <tr>
                <td>@recipe.Title</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Recipe[]? _recipes;

    protected override async Task OnInitializedAsync()
    {
        // TODO: Replace this with a Recipes service
        _recipes = await HttpClient.GetFromJsonAsync<Recipe[]>("http://localhost:8080/recipes");
    }
}